################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/General-Hack-Lite-CSNZ/v17
/.vs/GeneralHackLite
/Release
/Debug
